{"filter":false,"title":".env.example","tooltip":"/nakajima/.env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":35,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1529628515883,"hash":"beeb7909cee627ad506a42c05a3506385782d20a"}